# Ignorar archivos de Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
*.dll
*.exe
*.pdb

# Archivos temporales
*.log
*.tmp
*.bak

# Bases de datos locales
*.sqlite
*.db
*.mdf
*.ldf

# Otros archivos que no se deben subir
*.env
.idea/
